:root {
  --select-color: rgb(255, 198, 40);
  --back-color: rgb(44, 44, 44);
  --secondary-back-color: rgb(22, 22, 22);
}

* {
  font-family: "DepartureMono Nerd Font Mono";

  color: white;
  font-size: 15px;

  transition-duration: 0.3s;
  transition-timing-function: ease;
}

body {
  color: white;
  background-color: rgb(39, 39, 39);
}

.container {
  width: fit-content;
  padding: 15px;
  border-radius: 10px;

  background-color: rgb(48, 48, 48);
}

button {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 2px;

  background-color: rgb(48, 48, 48);
}
button:hover {
  border-color: var(--select-color);
  color: var(--select-color);
  cursor: pointer;
}
input {
  color: white;
  background-color: rgb(44, 44, 44, 0.8);

  font-size: 17px;

  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;

  text-decoration: none;
  outline: none;
}
input:hover,
input:focus {
  border-color: var(--select-color);
}

.red-hover:hover {
  color: rgb(255, 87, 87);
  border-color: rgb(255, 87, 87);
}
.green-hover:hover {
  color: rgb(149, 255, 87);
  border-color: rgb(149, 255, 87);
}

.reveal-hover {
  filter: blur(3px);

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.reveal-hover:hover {
  filter: blur(0px);
  cursor: pointer;
}
